.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.container {
  display: flex;
  gap: 50px;
}

.chatList {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100px;
  gap: 20px;
  border-right: 2px solid var(--bgSoft);
}

.chatContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.messageContainer {
  padding: 10px;
  background-color: var(--bgSoft);
}

.userHolder {
  display: inline-block;
  width: 15%;
}

.messageHolder {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  width: 80%;
}

.messageHolderUser {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  width: 97%;
  text-align: right;
}

.user {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.offline {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}
